.aria-radio-group ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0 10px;
}

.aria-radio-group li {
  margin: 10px 0;
  line-height: 20px;
}

.aria-radio-button {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: default;
}

.aria-radio-button::before,
.aria-radio-button::after {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  content: '';
}

.aria-radio-button::before {
  width: 16px;
  height: 16px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius:50%;;
  background-image: linear-gradient(to bottom, hsl(300, 3%, 93%), #fff 30%);
}

.aria-radio-button[aria-checked="true"]::before {
  border-color: hsl(216, 80%, 50%);
  background: hsl(217, 95%, 68%);
  background-image: linear-gradient(to bottom, hsl(217, 95%, 68%), hsl(216, 80%, 57%));
}

.aria-radio-button[aria-checked="true"]::after {
  box-sizing: content-box;
  display: block;
  width: .5em;
  height: .5em;
  background-color: #fff;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.aria-radio-button:focus {
  outline: none;
}

.aria-radio-button:focus::before {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  border-color: hsl(216, 94%, 73%);
  border-width: 3px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsl(216, 80%, 50%);
}

.aria-radio-button[aria-disabled="true"]::after,
.aria-radio-button[aria-disabled="true"]::before {
  opacity: .57;
}