.html5-form {
  margin-bottom: 40px;
}
.html5-form ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0 10px;
}

.html5-form li {
  margin: 10px 0;
  line-height: 20px;
}

.html5-form li:first-child {
  margin-top: 0;
}

.html5-form fieldset {
  margin: -20px 0 0 0;
  padding: 0;
  border: none;
}

.html5-form legend {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}